.command-display {
  display: inline;
  justify-content: center;
  align-content: left;
  font-size: 2em;
}

.command {
  width: 100%;
}

.bad-practice {
  padding: 0.5em 0 0.5em 0.25em;
}

.container {
  background-color: #ffedcf;
  padding: 2em;
  border-radius: 10px;
}
