.grid {
  justify-content: center;
  align-content: center;
  padding: 1em;
}

.button-mode {
  border: none;
  padding: 1em;
  background-color: lightgray;
  border-radius: 5px;
}

.maze-presentation {
  margin: 0;
}
