.box {
  border: 2px solid white;
  width: 3em;
  height: 3em;
  background-color: white;
}

.box-advanced {
  border: 2px solid white;
  width: 2.5em;
  height: 2.5em;
  background-color: white;
}

.row {
  display: flex;
  width: 100%;
  margin: auto;
}

.up {
  border-top: 2px solid black;
}

.left {
  border-left: 2px solid black;
}

.right {
  border-right: 2px solid black;
}

.down {
  border-bottom: 2px solid black;
}
