.beginner {
  border: 2px solid whitesmoke;
  width: 3em;
  height: 3em;
  background-color: whitesmoke;
}

.advanced {
  border: 2px solid whitesmoke;
  width: 2em;
  height: 2em;
  background-color: whitesmoke;
}

.row {
  display: flex;
  align-content: center;
  justify-content: center;
}

.up {
  border-top: 2px solid darkslategrey;
}

.left {
  border-left: 2px solid darkslategrey;
}

.right {
  border-right: 2px solid darkslategrey;
}

.down {
  border-bottom: 2px solid darkslategrey;
}
