.beginner {
  border: 2px solid white;
  width: 3em;
  height: 3em;
  background-color: white;
}

.advanced {
  border: 2px solid white;
  width: 2em;
  height: 2em;
  background-color: white;
}

.row {
  display: flex;
}

.up {
  border-top: 2px solid black;
}

.left {
  border-left: 2px solid black;
}

.right {
  border-right: 2px solid black;
}

.down {
  border-bottom: 2px solid black;
}
